<!-- data-inset="true" data-filter="true" data-filter-placeholder="Procurar por..." -->

<ul data-role="listview" id="news" data-theme="d" data-inset="true">
	<% @rss.items.each do |i| %>
	<li>
		<p><%= i.description %></p><%= i.title %>
	</li>
	<% end %>
</ul>
<br/>
<br/>