
<ul data-role="listview" id="news" data-theme="d" data-inset="true">
	<% @rss.items.each do |i| %>
	<li>
		<p><%= i.description %></p>
		<div><%= link_to i.title, i.link, :target=>"_blank" %></div>
	</li>
	<% end %>
</ul>
