<!-- Notícias -->
<ul data-role="listview" id="news" data-theme="d" >	<!-- data-inset="true" -->
	<% @rss.items.each do |i| %>
	<li>
		<div class="titdata"><%= i.description %></div>
		<%= link_to i.title, i.link, :target=>"_blank", :style => "white-space:normal;" %>
	</li>
	<% end %>
</ul>
