<div data-role="footer" data-theme="b" data-id="rodape" data-position="fixed" class="ui-state-persist ui-btn-active">
	<div data-role="navbar" >
		<ul>
			<!-- class="ui-btn-active" -->
			<li><a href="#noticias"  data-icon="info" data-direction="reverse">Notícias</a></li>
			<li><a href="#twitter" data-icon="star">Twitter</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->