<div data-role="header" id="header" data-backbtn="false">
	<h1>VNews</h1>
	<a href="javascript:location.reload(true)"  id="btnAtualizar" data-icon="refresh" class="ui-btn-right">Atualizar</a>
</div><!-- /header -->
<div class="dica">
	<table align=center>
		<tr>
			<td>&lArr;</td>
			<td> Arraste para os lados para navegar entre as opções </td>
			<td>&rArr;</td>
		</tr>
	</table>
</div>